@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Rubik';
}

.container {
	display: grid;
	grid-template-columns: 30rem 1fr;
	grid-template-rows: min-content 1fr min-content;
}

/* ********************************** */
/*               SIDEBAR              */
/* ********************************** */
.navbar {
	background-color: rgb(253, 253, 253);
	color:#509bf5;
	padding-top: 2.4rem;

	grid-row: 1/3;
	grid-column: 1/2;

	display: flex;
	flex-direction: column;
	gap: 4rem;

	position: fixed;
	width: 30rem;
	height: 100vh;

}



.container-logo{
	position: static;
    top: 20px; /* Ajusta la distancia desde la parte superior */
    right: 30px; /* Ajusta la distancia desde la derecha */
	margin-left: 1rem;
}
.logo-img {
    width: 200px; /* Ajusta el ancho del logo según tu preferencia */
    height: auto;
}


.nav-main {
	padding: 0 2.4rem;

	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.nav-main li {
	list-style: none;
}

.nav-main li a {
	text-decoration: none;
	font-size: 1.6rem;
	color:#509bf5;

	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 2rem;
	font-weight: 600;
	text-overflow: ellipsis;
	transition: all 0.3s ease;
}

.nav-main li a:hover {
	color: #9ec6f8;;
}

.nav-main li a i {
	font-size: 2rem;
}




/* ********************************** */
/*         CONTENIDO PRINCIPAL        */
/* ********************************** */
.main-content {
	grid-column: 2/-1;
	margin-bottom: 0%;
	background-color: #8abcf1;
	padding-top: 3rem;
	padding-left: 3rem;
	padding-right: 3rem;
	padding-bottom: 30.9rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.titulo-cancion {
	font-size: 2.4rem;
	color: #fff;
	cursor: pointer;
	font-weight: 600;
}

.titulo-cancion:hover {
	text-decoration: underline;
}

.container-nombre-canciones {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 2rem;
}

.container-card-canciones {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	gap: 2.4rem;
}

.card-canciones{
	width: 15rem; /* Ancho fijo para cada tarjeta */
    height: 25rem; /* Alto fijo para cada tarjeta */
	background-color: #509bf5;
	border-radius: 0.5rem;
	padding: 1.6rem;
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s ease;
	cursor: pointer;
	position: relative;
}

.card-canciones:hover{
	background-color: #7bb2f7;
}

.card-img img {
	width: 100%;
	border-radius: 0.5rem;
}

.card-img {
	overflow: hidden;
}

.card h2 {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	font-size: 1.6rem;
	color: #fff;
	font-weight: 600;
}

.card h3 {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	font-size: 1.2rem;
	color: #fff;
	font-weight: 600;
}

.card p {
	font-size: 1.3rem;
	color: #b3b3b3;
	font-weight: 400;
	line-height: 1.5;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}


/* ********************************** */
/*          Reproducción              */
/* ********************************** */

.main-reproduction{
	grid-row: 1/3;
	grid-column: 2/-1;
	position: fixed;
	left: 317px;
	right: 0px;
	background-color: #8abcf1;
	padding: 2.5rem;
	height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}


.barra-reproduccion{
	position: absolute;
	width: 72%;
	top: 78%;
	left: 11.5%;
	justify-content: center;
	align-items: center;
	margin-left: 20px

}

.barra-volumen{
	position: absolute;
	width: 130px;
	top: 73%;
	left: 11.5%;
	justify-content: center;
	align-items: center;
	margin-left: 20px;

}

.btn-play {
	width: 5rem;
	height: 5rem;
	order: 2;
	display: flex;
	justify-content: center;
	align-items: center;

    background-color: #5f96e8;
    border: none;
    outline: none;
    border-radius: 50%;
    position: absolute;
    top: 90%;
    left: 47.5%;
    transform: translate(50%, -50%);
    cursor: pointer;
}
.gif{
	left:11.5%;
	position: absolute;
	justify-content: center;
	align-items: center;
	display: flex;
	width: 72%;
	height: 63%;
	top: 3%;
	margin-left: 20px;
	
}
.btn-play .fa-pause {
    /* Asegúrate de que el icono tenga el mismo tamaño que el de reproducción */
    font-size: 2.5rem; /* Ajusta el tamaño del icono según sea necesario */
    /* Centrado vertical y horizontalmente */
    display: flex;
    justify-content: center;
    align-items: center;
	padding-left: 0;
}
.btn-play i{
    font-size: 2.3rem;
    padding-left: .5rem;
}
